src/wesad/WESAD
src/ubfc_phys/UBFC-PHYS
experiments/results/data
experiments/results/analysis
experiments/results/graphs
data_collection
src/mused/dataset
src/mused/datasets_cleaned
src/mused/dataset_pkl
src/mused/data_processing
src/mused/results
*.zip
*.log
*.7z
*.pyc
__pycache__/
**/__pycache__/
wandb